Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve application architecture.
  package.json
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/hoc/viewer/viewer.jsx
  src/core/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
  src/core/auth/hoc/session/session.jsx
  src/core/component/Application/Application.jsx
  src/core/component/ApplicationRouter/ApplicationRoute.jsx
  src/core/component/ApplicationRouter/ApplicationRouter.jsx
  src/core/component/ApplicationRouter/getRoutes.mjs
  src/core/component/ApplicationRouter/index.mjs
  src/core/component/Viewer/Viewer.jsx
  src/core/component/Viewer/graphql/query/getViewer.gql
  src/core/component/Viewer/graphql/query/getViewer.mjs
  src/core/component/Viewer/graphql/query/index.mjs
  src/core/component/Viewer/index.jsx
  src/core/component/Viewer/model/Viewer.mjs
  src/core/config/index.js
  src/core/helper/is/function.mjs
  src/core/helper/is/number.mjs
  src/core/hoc/loadable/loadable.jsx
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Signup/index.jsx
  src/module/home/page/Feed/Feed.jsx
  src/module/home/page/Feed/LoadableFeed.jsx
  src/module/story/page/Details/index.jsx
  src/module/story/page/New/New.jsx
  src/module/story/page/New/index.jsx
  src/module/user/page/Profile/Profile.jsx
  src/module/user/page/Profile/index.jsx
  src/route/auth.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add importing of custom layouts.
  src/core/component/ApplicationRouter/getRoutes.mjs
  src/core/helper/is/string.mjs
  src/layout/.gitempty
Due: node_modules/.bin/eslint --fix

Refactor some atomic components. Remove react-loadable from deps. Fix for logErrors hoc
  package.json
  src/common/component/Button/Button.jsx
  src/common/component/Button/Secondary/Secondary.jsx
  src/common/component/Button/Secondary/index.jsx
  src/common/component/Button/Secondary/secondary.scss
  src/common/component/EnhancedTextField/Input/Input.jsx
  src/common/component/EnhancedTextField/TextArea/TextArea.jsx
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/TextAreaWithAutoSize.jsx
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/textarea.scss
  src/common/component/Layout/layout.scss
  src/core/hoc/logErrors/logErrors.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Bump date-fns.
  package.json
  yarn.lock
Due: none

Remove unused router codebase.
  src/core/router/Router.jsx
  src/core/router/getRoutes.mjs
  src/core/router/index.mjs
Due: node_modules/.bin/eslint --fix

Improve refreshAccessToken HOC.
  src/core/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
Due: node_modules/.bin/eslint --fix

Small fixes.
  src/core/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
  src/core/component/Application/Application.jsx
  src/core/component/Viewer/Viewer.jsx
  src/core/component/Viewer/index.jsx
Due: node_modules/.bin/eslint --fix

Add updateCache helper for ApolloClient.
  src/core/helper/graphql/updateCache.mjs
Due: node_modules/.bin/eslint --fix

Fix for static Not Found route (remove layout from the route). Add minimal implementation of RefreshTokenLink.
  src/core/component/ApplicationRouter/ApplicationRouter.jsx
  src/core/component/Error/NotFoundError/NotFoundError.jsx
  src/core/transport/graphql/RefreshTokenLink.mjs
  src/core/transport/graphql/authContext.mjs
Due: node_modules/.bin/eslint --fix

Improve SidebarMenu.
  .browserslistrc
  src/common/component/Button/Button.jsx
  src/common/component/Button/Primary/Primary.jsx
  src/common/component/Button/Secondary/Secondary.jsx
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Element/Element.jsx
  src/common/component/SidebarMenu/component/internal/Element/Icon/Icon.jsx
  src/common/component/SidebarMenu/component/internal/Element/Icon/icon.scss
  src/common/component/SidebarMenu/component/internal/Element/Icon/index.jsx
  src/common/component/SidebarMenu/component/internal/Element/Label/Label.jsx
  src/common/component/SidebarMenu/component/internal/Element/Label/index.jsx
  src/common/component/SidebarMenu/component/internal/Element/Label/label.scss
  src/common/component/SidebarMenu/component/internal/Element/element.scss
  src/common/component/SidebarMenu/component/internal/Element/index.jsx
  src/common/component/SidebarMenu/component/internal/Footer/Footer.jsx
  src/common/component/SidebarMenu/component/internal/Footer/index.jsx
  src/common/component/SidebarMenu/component/internal/List/menu-list.scss
  src/common/component/SidebarMenu/component/internal/Logo/Logo.jsx
  src/common/component/SidebarMenu/component/internal/Logo/logo.scss
  src/common/component/SidebarMenu/component/internal/Toggler/Toggler.jsx
  src/common/component/SidebarMenu/component/internal/Toggler/index.jsx
  src/common/component/SidebarMenu/component/internal/Toggler/menu-toggler.scss
  src/common/component/SidebarMenu/sidebar-menu.scss
  src/core/base/main.scss
  src/core/component/ApplicationRouter/index.jsx
  src/core/component/Error/NotFoundError/NotFoundError.jsx
  src/core/component/Error/NotFoundError/not-found-error.scss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add SidebarMenu mask draft.
  src/common/component/Layout/layout.scss
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/sidebar-menu.scss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Finish the first stable implementation of SidebarMenu.
  src/common/component/Layout/DefaultMenu/UserMenu/Profile/Profile.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/StoryNew/StoryNew.jsx
  src/common/component/SidebarMenu/Element.jsx
  src/common/component/SidebarMenu/component/internal/Element/Label/Label.jsx
  src/common/component/SidebarMenu/component/internal/Toggler/Toggler.jsx
  src/common/component/SidebarMenu/component/public/Element/Element.jsx
  src/common/component/SidebarMenu/component/public/Element/Icon.jsx
  src/common/component/SidebarMenu/component/public/Element/Label.jsx
  src/common/component/SidebarMenu/component/public/Element/menu-element.scss
  src/common/component/SidebarMenu/sidebar-menu.scss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Update placeholder in story description editor
  src/common/component/Layout/DefaultMenu/GuestMenu/Login/Login.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/Signup/Signup.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
Due: node_modules/.bin/eslint --fix

Add portal HOC.
  src/common/component/SidebarMenu/component/internal/Element/Element.jsx
  src/common/component/SidebarMenu/component/internal/Toggler/Toggler.jsx
  src/common/component/SidebarMenu/sidebar-menu.scss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Move Portal implementation to a different component. Now placed in: core/component/Portal
  src/core/component/Portal/Portal.jsx
  src/core/component/Portal/index.jsx
  src/core/hoc/portal/index.jsx
  src/core/hoc/portal/portal.jsx
Due: node_modules/.bin/eslint --fix

Improve SidebarMenu behaviour.
  src/common/component/OnKeyDownOutside/OnKeyDownOutside.jsx
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Mask/Mask.jsx
  src/common/component/SidebarMenu/component/internal/Mask/index.jsx
  src/common/component/SidebarMenu/component/internal/Mask/mask.scss
  src/common/component/SidebarMenu/sidebar-menu.scss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add minimal implementation of ErrorHandler using new context API.
  src/core/component/Application/Application.jsx
  src/core/error/Consumer.jsx
  src/core/error/Context.mjs
  src/core/error/Provider.jsx
  src/core/error/withErrorHandler.jsx
Due: node_modules/.bin/eslint --fix

Fixes for ErrorHandler Provider and Consumer.
  src/core/error/Consumer.jsx
  src/core/error/Provider.jsx
Due: node_modules/.bin/eslint --fix

Another fix for error handler components.
  package.json
  src/core/error/Consumer.jsx
  src/core/error/Provider.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Replace UglifyJS with Terser to minimize application bundles. Some changes in error handler draft.
  build/config/index.js
  package.json
  src/core/error/Provider.jsx
  src/core/error/reporter.jsx
  src/core/error/withErrorHandler.jsx
  src/core/hoc/errorHandler/errorHandler.jsx
  src/core/hoc/loadable/loadable.jsx
  src/module/story/common/component/Editor/CoverUploader/CoverUploader.jsx
  src/module/story/common/component/Editor/CoverUploader/cover-uploader.scss
  src/module/story/common/component/Editor/CoverUploader/index.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/TitleEditor/TitleEditor.jsx
  src/module/story/common/component/Editor/editor.scss
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Lots of fixes for auth page components.
  build/config/index.js
  package.json
  src/module/auth/common/component/Form/Button/Button.jsx
  src/module/auth/common/component/Form/Button/button.scss
  src/module/auth/common/component/Form/Fields/fields.scss
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/Input/Input.jsx
  src/module/auth/common/component/Form/Input/input.scss
  src/module/auth/common/component/Form/Link/Link.jsx
  src/module/auth/common/component/Form/Link/link.scss
  src/module/auth/common/component/Form/form.scss
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/login.scss
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/signup.scss
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fixes for static server.
  server/index.js
Due: node_modules/.bin/eslint --fix

Bump deps and add husky config.
  .huskyrc.json
  package.json
  yarn.lock
Due: none

Update dates in license.
  license
Due: none

Add fallback font.
  build/config/plugin/0-named-modules.js
  src/core/base/main.scss
  src/core/component/ApplicationRouter/ApplicationRoute.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Remove CoC.
  code-of-conduct.md
Due: none

Fix for build config
  build/config/index.js
Due: node_modules/.bin/eslint --fix

Add sidebar menu mask showing/hiding animation.
  src/common/component/SidebarMenu/component/internal/Mask/mask.scss
Due: node_modules/.bin/stylelint --fix

Improvements for loadable HOC and Viewer loading.
  src/core/base/main.jsx
  src/core/component/Application/Application.jsx
  src/core/component/Viewer/Viewer.jsx
  src/core/component/Viewer/index.jsx
  src/core/component/Viewer/loadViewer/index.jsx
  src/core/component/Viewer/loadViewer/loadViewer.jsx
  src/core/helper/util/requireDefault.mjs
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Rewrite router from scratch.
  .gitignore
  package.json
  src/core/component/ApplicationRouter/ApplicationRoute.jsx
  src/core/component/ApplicationRouter/ApplicationRouter.jsx
  src/core/component/ApplicationRouter/getRoutes.mjs
  src/route/auth.json
  src/route/auth.mjs
  src/route/home.json
  src/route/home.mjs
  src/route/story.json
  src/route/story.mjs
  src/route/user.json
  src/route/user.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Temporarily remove limitations on bundle size.
  build/config/index.js
Due: node_modules/.bin/eslint --fix

Add async page loading for ApplicationRoute.
  build/config/index.js
  server/index.js
  src/core/component/Application/Application.jsx
  src/core/component/ApplicationRouter/ApplicationRoute.jsx
  src/core/component/Router/Route/Route.jsx
  src/core/component/Router/Route/index.jsx
  src/core/component/Router/Route/load.mjs
  src/core/component/Router/Router.jsx
  src/core/component/Router/getRoutes.mjs
  src/core/component/Router/index.jsx
  src/core/helper/array/flat.mjs
  src/core/helper/array/runSerial.mjs
  src/core/helper/array/runWaterfall.mjs
  src/core/helper/object/runParallel.mjs
  src/core/helper/object/runSerial.mjs
  src/core/hoc/loadable/page/loadablePage.jsx
  src/core/hoc/loadable/stateful/index.jsx
  src/core/hoc/loadable/stateful/loadableStatefullComponent.jsx
  src/module/home/page/Feed/LoadableFeed.jsx
  src/module/home/page/Feed/index.jsx
  src/route/auth.mjs
  src/route/home.mjs
  src/route/story.mjs
  src/route/user.mjs
Due: node_modules/.bin/eslint --fix

Small fixes.
  src/core/component/Router/Route/Route.jsx
  src/core/hoc/loadable/stateful/loadableStatefullComponent.jsx
Due: node_modules/.bin/eslint --fix

Improve async route loading feature.
  src/core/component/Error/NotFoundError/NotFoundError.jsx
  src/core/component/Router/Route/Route.jsx
  src/core/component/Router/Route/load.mjs
  src/core/component/Router/Router.jsx
  src/core/hoc/loadable/page/loadablePage.jsx
  src/core/hoc/loadable/stateful/loadableStatefullComponent.jsx
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Login/state.mjs
  src/module/auth/page/Signup/index.jsx
  src/module/auth/page/Signup/state.mjs
  src/module/home/page/Feed/index.jsx
  src/module/story/page/Details/index.jsx
  src/module/story/page/Details/state.mjs
  src/module/story/page/New/index.jsx
  src/module/story/page/New/state.mjs
  src/module/user/page/Profile/index.jsx
  src/module/user/page/Profile/state.mjs
  src/route/auth.mjs
  src/route/home.mjs
  src/route/story.mjs
  src/route/user.mjs
Due: node_modules/.bin/eslint --fix

Remove unnecessary Route helper.
  src/core/component/Router/Route.jsx
  src/core/component/Router/Route/index.jsx
  src/core/component/Router/Route/load.mjs
Due: node_modules/.bin/eslint --fix

Add redirect HOC. Small fix.
  src/common/hoc/redirect/index.jsx
  src/common/hoc/redirect/redirect.jsx
  src/core/hoc/loadable/stateful/loadableStatefullComponent.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  src/core/hoc/loadable/page/loadablePage.jsx
Due: node_modules/.bin/eslint --fix

Small code style improvement
  src/core/hoc/loadable/page/loadablePage.jsx
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Signup/index.jsx
  src/module/home/page/Feed/index.jsx
  src/module/story/page/Details/index.jsx
  src/module/story/page/New/index.jsx
  src/module/user/page/Profile/index.jsx
Due: node_modules/.bin/eslint --fix

Some fixes and improvements.
  .eslintrc.js
  package.json
  src/module/story/page/Details/graphql/query/getStory/index.mjs
  src/module/story/page/Details/graphql/query/story/index.mjs
  src/module/story/page/Details/graphql/query/story/story.gql
  src/module/story/page/Details/graphql/query/story/story.mjs
  src/module/story/page/Details/state.mjs
  src/module/user/page/Profile/graphql/query/user/user.mjs
  src/module/user/page/Profile/state.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Fix for OnClickOutside
  src/common/component/OnClickOutside/OnClickOutside.jsx
Due: node_modules/.bin/eslint --fix

Path conditions:
  node_modules/.bin/eslint --fix: (((((any of: build/**/*.js) or (any of: server/**/*.js)) or (any of: src/**/*.{js,jsx,mjs})) or (any of: .eslintrc.js)) or (any of: .babelrc.js)) or (any of: .postcssrc.js)
  node_modules/.bin/stylelint --fix: any of: src/**/*.{scss,css}
