Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.{js,jsx}": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx}": "node_modules/.bin/eslint --fix",
  "src/**/*.sss": "node_modules/.bin/stylelint --fix"
}

Replace builtin FormData link with apollo-link-form-data module.
  package.json
  src/core/transport/graphql/HttpLink.mjs
  src/core/transport/graphql/client.mjs
  src/core/transport/graphql/hasFiles.mjs
  src/core/transport/graphql/processResponse.mjs
  src/core/transport/graphql/requestHandler.mjs
  yarn.lock
Due: none

Add deprecate decorator.
  .babelrc.js
  src/core/helper/promise/objectRunParallel.mjs
  src/core/helper/promise/objectRunSerial.mjs
  src/core/helper/util/arrayFlat.mjs
  src/core/helper/util/arrayWaterfall.mjs
  src/core/helper/util/deprecate.mjs
Due: none

Bump deps. Migrate to MST 3.x
  package.json
  src/common/model/store/misc/CommonDate.mjs
  src/common/model/store/user/User.mjs
  src/module/auth/common/component/Form/Form.jsx
  src/module/story/page/Details/model/Story.mjs
  src/module/story/page/New/model/StoryNew.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Bump deps.
  package.json
  yarn.lock
Due: none

Some fixes.
  .babelrc.js
  src/common/hoc/viewer/graphql/query/getViewer.gql
  src/common/model/store/user/User.mjs
  src/common/model/store/user/UserContacts.mjs
  src/common/model/store/user/UserDates.mjs
Due: none

Some fixes
  package.json
  src/common/component/Layout/Layout.jsx
  src/common/component/SidebarMenu/component/internal/Footer/Footer.jsx
  src/common/page/error/http/NotFound/NotFound.jsx
  src/core/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
  src/core/base/main.jsx
  src/core/error/withErrorHandler.mjs
  src/core/page/error/Http/NotFound/NotFound.jsx
  src/module/user/page/Profile/Profile.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

More fixes.
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/core/router/Router.jsx
Due: node_modules/.bin/eslint --fix

Add a server note. Fix .lintstagedrc config.
  .lintstagedrc
  server/index.js
Due: none

Add promise/arrayRunSerial helper.
  src/core/helper/promise/arrayRunSerial.mjs
Due: none

Move arrayWaterfall from helper/util to helper/promise and rename to arrayRunWaterfall. Refactor refreshAccessToken mutation request handler.
  src/core/auth/graphql/mutation/refreshAccessToken.mjs
  src/core/auth/graphql/mutation/refreshAccessToken/index.mjs
  src/core/auth/graphql/mutation/refreshAccessToken/refreshAccessToken.gql
  src/core/auth/graphql/mutation/refreshAccessToken/refreshAccessToken.mjs
  src/core/helper/promise/arrayRunWaterfall.mjs
Due: none

Refactor graphql request handlers.
  src/core/auth/graphql/mutation/refreshAccessToken/refreshAccessToken.mjs
  src/module/auth/page/Login/graphql/mutation/authenticate/authenticate.mjs
  src/module/auth/page/Signup/graphql/mutation/createUser/createUser.mjs
  src/module/story/page/Details/graphql/query/getStory/getStory.mjs
  src/module/story/page/New/graphql/mutation/addStory/addStory.mjs
  src/module/user/page/Profile/graphql/query/user/user.mjs
Due: none

Enable auto opening Twi main page in development mode.
  build/config/index.js
Due: node_modules/.bin/eslint --fix

Add forwardRef hoc. Fix story editor components.
  src/common/component/EnhancedTextField/Input/Input.jsx
  src/common/component/EnhancedTextField/TextArea/TextArea.jsx
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/TextAreaWithAutoSize.jsx
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/core/hoc/forwardRef/forwardRef.jsx
  src/core/hoc/forwardRef/index.jsx
  src/core/hoc/loadable/loadable.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/TitleEditor/TitleEditor.jsx
Due: node_modules/.bin/eslint --fix

A hacky fix for setState on unmounted component.
  src/common/component/Layout/Layout.jsx
  src/core/hoc/loadable/loadable.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/TitleEditor/TitleEditor.jsx
Due: node_modules/.bin/eslint --fix

Tiny fix for container.html
  view/container.html
Due: none

Fix graphql transport exports.
  src/core/transport/graphql/client.mjs
  src/core/transport/graphql/index.mjs
Due: none

Add reading dev server settings from application configs.
  build/config/index.js
  build/helper/getConfig.js
  config/default.yaml
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Some code style fixes for Story and Profile loaders. Fix story query. Fixes for application container document and webpack dev server config.
  .gitignore
  build/config/index.js
  build/config/plugin/4-html.js
  server/index.js
  src/core/model/create.mjs
  src/module/story/page/Details/graphql/query/getStory/story.gql
  src/module/story/page/Details/index.jsx
  src/module/user/page/Profile/graphql/query/user/user.mjs
  src/module/user/page/Profile/index.jsx
Due: node_modules/.bin/eslint --fix

Bump deps and move PostCSS config to .postcssrc.js
  .lintstagedrc
  .postcssrc.js
  build/config/loader/1-css.js
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Remove default minimizer from css-loader options because of its deprecation. Now we're using cssnano as PostCSS plugin. See .postcssrc.js for more info.
  build/config/loader/1-css.js
Due: node_modules/.bin/eslint --fix

Add buttons and input plain components.
  package.json
  src/common/component/Button/Button.jsx
  src/common/component/Button/Primary/Primary.jsx
  src/common/component/Button/Primary/index.jsx
  src/common/component/Button/Primary/primary.sss
  src/common/component/Button/button.sss
  src/common/component/Button/index.jsx
  src/common/component/Input/Input.jsx
  src/common/component/Input/index.jsx
  src/common/component/Input/input.sss
  src/common/component/OnKeyDownOutside/OnKeyDownOutside.jsx
  src/common/component/OnKeyDownOutside/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add support of compiling plain CSS through PostCSS in config.
  .postcssrc.js
Due: none

Start moving to SCSS from SugarSS. Some fixes for primitive elements.
  .postcssrc.js
  build/config/loader/1-css.js
  package.json
  src/common/component/Button/Button.jsx
  src/common/component/Button/Primary/Primary.jsx
  src/common/component/Button/Primary/primary.scss
  src/common/component/Button/Primary/primary.sss
  src/common/component/Button/button.scss
  src/common/component/Button/button.sss
  src/common/component/SidebarMenu/component/public/Element/Element.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Use to SCSS parser instead of SugarSS.
  src/common/component/Input/Input.jsx
  src/common/component/Input/input.scss
  src/common/component/Input/input.sss
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/layout.scss
  src/common/component/Layout/layout.sss
  src/common/component/Loading/Page/PageLoader.jsx
  src/common/component/Loading/Page/page-loader.scss
  src/common/component/Loading/Page/page-loader.sss
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/component/OnClickOutside/on-click-outside.scss
  src/common/component/OnClickOutside/on-click-outside.sss
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Footer/Footer.jsx
  src/common/component/SidebarMenu/component/internal/Footer/menu-footer.scss
  src/common/component/SidebarMenu/component/internal/Footer/menu-footer.sss
  src/common/component/SidebarMenu/component/internal/List/List.jsx
  src/common/component/SidebarMenu/component/internal/List/menu-list.scss
  src/common/component/SidebarMenu/component/internal/List/menu-list.sss
  src/common/component/SidebarMenu/component/internal/Logo/Logo.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/Text.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/text.scss
  src/common/component/SidebarMenu/component/internal/Logo/Text/text.sss
  src/common/component/SidebarMenu/component/internal/Logo/logo.scss
  src/common/component/SidebarMenu/component/internal/Logo/logo.sss
  src/common/component/SidebarMenu/component/public/Element/Element.jsx
  src/common/component/SidebarMenu/component/public/Element/index.jsx
  src/common/component/SidebarMenu/component/public/Element/menu-element.scss
  src/common/component/SidebarMenu/component/public/Element/menu-element.sss
  src/common/component/SidebarMenu/sidebar-menu.scss
  src/common/component/SidebarMenu/sidebar-menu.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Use to SCSS parser instead of SugarSS.
  src/common/page/error/http/NotFound/NotFound.jsx
  src/common/page/error/http/NotFound/not-found.scss
  src/common/page/error/http/NotFound/not-found.sss
  src/common/style/colors.scss
  src/common/style/colors.sss
  src/core/base/Application/Application.jsx
  src/core/base/Application/application.scss
  src/core/base/Application/application.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Remove SugarSS parser.
  .lintstagedrc
  .postcssrc.js
  build/config/loader/1-css.js
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Architecture improvements: Move page loaders into the core scope and remove duplicates.
  src/common/component/Loading/Page/PageLoader.jsx
  src/common/component/Loading/Page/index.jsx
  src/common/component/Loading/Page/page-loader.scss
  src/common/page/error/http/NotFound/NotFound.jsx
  src/common/page/error/http/NotFound/index.mjs
  src/common/page/error/http/NotFound/not-found.scss
  src/core/component/Error/ApplicationError/ApplicationError.jsx
  src/core/component/Error/ApplicationError/application-error.scss
  src/core/component/Error/ApplicationError/index.jsx
  src/core/component/Error/NotFoundError/NotFoundError.jsx
  src/core/component/Error/NotFoundError/index.jsx
  src/core/component/Error/NotFoundError/not-found-error.scss
  src/core/component/Error/NotFoundError/not-found-error.svg
  src/core/component/Error/TimeoutError/TimeoutError.jsx
  src/core/component/Error/TimeoutError/index.jsx
  src/core/component/Error/TimeoutError/timeout-error.scss
  src/core/hoc/errorHandler/errorHandler.jsx
  src/core/hoc/forwardRef/forwardRef.jsx
  src/core/hoc/loadable/page/matchErrors.mjs
  src/core/hoc/loadingProcess/TimeoutError/TimeoutError.jsx
  src/core/hoc/loadingProcess/loadingProcess.jsx
  src/core/model/updateTextField.mjs
  src/core/page/error/Http/NotFound/index.jsx
  src/core/page/error/Http/NotFound/not-found.svg
  src/core/router/Router.jsx
  src/core/router/getRoutes.mjs
Due: node_modules/.bin/eslint --fix

Fix viewer and session HOCs loading errors. Fix style issues in core/base/main.scss
  src/common/hoc/viewer/index.jsx
  src/core/auth/hoc/session/index.jsx
  src/core/base/main.scss
Due: node_modules/.bin/eslint --fix

Add logErrors HOC.
  src/core/component/Error/ApplicationError/ApplicationError.jsx
  src/core/component/Error/NotFoundError/NotFoundError.jsx
  src/core/hoc/logErrors/index.jsx
  src/core/hoc/logErrors/logErrors.jsx
Due: node_modules/.bin/eslint --fix

Move: view/container.html -> src/core/base/main.html and src/core/base/Application -> src/core/component/Application
  build/config/plugin/4-html.js
  src/core/base/main.html
  src/core/base/main.jsx
  src/core/component/Application/Application.jsx
  src/core/component/Application/application.scss
  src/core/component/Application/index.jsx
Due: node_modules/.bin/eslint --fix

Preact 8.3.0 no longer breaks with Uglify reduce_funcs
  build/config/index.js
Due: node_modules/.bin/eslint --fix

Expose a function from webpack config.
  build/config/index.js
  build/index.js
Due: node_modules/.bin/eslint --fix

Add some string helpers and rewrite arrayFlat.
  src/core/helper/array/flat.mjs
  src/core/helper/string/concat.mjs
  src/core/helper/string/concatFromArray.mjs
  src/core/helper/string/concatWords.mjs
Due: none

Bump deps. Update eslint config. Fix Button component
  .eslintrc.js
  package.json
  src/module/auth/common/component/Form/Button/Button.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Improve loadable HOC
  .eslintrc.js
  src/core/component/Loading/Loading.jsx
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

One more improvement for loadable HOC.
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Fix for loadable.
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix
