Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.js": "node_modules/.bin/eslint --fix",
  "server/**/*.js": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx,mjs}": "node_modules/.bin/eslint --fix",
  ".eslintrc.js": "node_modules/.bin/eslint --fix",
  ".babelrc.js": "node_modules/.bin/eslint --fix",
  ".postcssrc.js": "node_modules/.bin/eslint --fix",

  "src/**/*.{scss,css}": "node_modules/.bin/stylelint --fix"
}

Add useStore hook that requires all stores being used within their context (use it when necessary).
  src/component/SidebarMenu/SidebarMenu.jsx
  src/lib/hook/useStore.mjs
  src/model/User/Viewer/Context.mjs
Due: node_modules/.bin/eslint --fix

Add docs for useStore.
  src/lib/hook/useStore.mjs
Due: node_modules/.bin/eslint --fix

Small fix.
  src/component/Form.jsx
Due: node_modules/.bin/eslint --fix

Add a Link component
  src/component/Link/Link.jsx
  src/component/Link/index.jsx
  src/component/Link/link.css
  src/component/SidebarMenu/SidebarMenu.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve sidebar menu.
  package.json
  src/component/Link/link.css
  src/component/SidebarMenu/SidebarMenu.jsx
  src/component/SidebarMenu/sidebar-menu.css
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add LogOut component.
  src/api/mutation/auth/logOut/index.mjs
  src/api/mutation/auth/logOut/logOut.gql
  src/api/mutation/auth/logOut/logOut.mjs
  src/component/LogOut.jsx
  src/component/SidebarMenu/SidebarMenu.jsx
  src/component/SidebarMenu/sidebar-menu.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix logIn/signUp actions.
  src/api/mutation/auth/logIn/logIn.mjs
  src/api/mutation/auth/signUp/signUp.mjs
  src/lib/auth/helper/saveTokens.mjs
Due: node_modules/.bin/eslint --fix

Improve LogOut component bu allowing to use custom component as the button.
  src/component/LogOut.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  src/component/Input/Input.jsx
Due: node_modules/.bin/eslint --fix

Remove OnClickOutside component in favour of use-events hooks.
  src/component/OnClickOutside/OnClickOutside.jsx
  src/component/OnClickOutside/index.jsx
  src/component/OnClickOutside/on-click-outside.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Update dependencies.
  package.json
  yarn.lock
Due: none

Small fix.
  src/component/SidebarMenu/sidebar-menu.css
Due: node_modules/.bin/stylelint --fix

Fix page blinking caused by Suspense.
  src/component/Input/input.css
  src/component/SidebarMenu/SidebarMenu.jsx
  src/component/SidebarMenu/sidebar-menu.css
  src/lib/component/DarkMode/colors.css
  src/lib/component/Router/Route.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix application container node position.
  src/lib/component/Application/Application.jsx
Due: node_modules/.bin/eslint --fix

Add Delaying on Route's Suspense fallback.
  src/lib/component/Router/Route.jsx
Due: node_modules/.bin/eslint --fix

Small fixes.
  src/component/Viewer.jsx
  src/lib/component/Router/Router.jsx
Due: node_modules/.bin/eslint --fix

Add Delay to Application's Suspense.
  src/lib/component/Application/Application.jsx
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Small fixes and UI improvements.
  src/lib/component/DarkMode/colors.css
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Small fixes.
  src/lib/component/Abstract.jsx
  src/lib/component/Delay.jsx
Due: node_modules/.bin/eslint --fix

Add error hanlder on application level.
  src/lib/component/Application/Application.jsx
  src/lib/component/Error.jsx
  src/lib/component/Error/ApplicationError/ApplicationError.jsx
  src/lib/component/Error/ApplicationError/application-error.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Remove unnecessary PostCSS plugins.
  .postcssrc.js
  package.json
  src/base/main.css
  src/route/auth.mjs
  src/route/story.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Small fix.
  src/page/Auth/Confirm/Confirm.jsx
  src/page/Home.jsx
Due: node_modules/.bin/eslint --fix

Improve styles for auth pages.
  .stylelintrc.json
  src/page/Auth/Login/login.css
  src/page/Auth/Signup/signup.css
  src/style/auth.css
Due: node_modules/.bin/stylelint --fix

Improve stylelint config.
  .stylelintrc.js
Due: none

Add password confirmation pages (WIP)
  src/api/mutation/auth/reset/confirm/confirm.gql
  src/api/mutation/auth/reset/confirm/confirm.mjs
  src/api/mutation/auth/reset/confirm/index.mjs
  src/api/mutation/auth/reset/request/index.mjs
  src/api/mutation/auth/reset/request/request.gql
  src/api/mutation/auth/reset/request/request.mjs
  src/component/Link/link.css
  src/component/SidebarMenu/sidebar-menu.css
  src/page/Auth/Reset/Confirm/Confirm.jsx
  src/page/Auth/Reset/Confirm/index.jsx
  src/page/Auth/Reset/Request/Request.jsx
  src/page/Auth/Reset/Request/index.jsx
  src/route/auth.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Rewrite auth/reset/confirm mutation call.
  package.json
  src/api/mutation/auth/reset/confirm/confirm.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Remove unnecessary stuff from email confirmation.
  package.json
  src/api/mutation/auth/confirm/confirm.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Small fix for a useTitle hook.
  package.json
  src/lib/hook/useTitle.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Small fix.
  src/lib/hook/useTitle.mjs
Due: node_modules/.bin/eslint --fix

Add jsconfig.json
  jsconfig.json
  src/page/Auth/Reset/Confirm/Confirm.jsx
Due: node_modules/.bin/eslint --fix

Fixes for models.
  src/model/Common/Dates/Date.mjs
  src/model/Common/Dates/Dates.mjs
  src/model/Common/Page.mjs
  src/model/Common/Slug.mjs
  src/model/Story/Story.mjs
  src/model/Story/StoryMinimal.mjs
  src/model/User/User.mjs
  src/model/User/UserContacts.mjs
  src/model/User/UserDates.mjs
  src/model/User/Viewer/Session.mjs
  src/model/User/Viewer/Viewer.mjs
Due: node_modules/.bin/eslint --fix

Fix for router
  src/lib/component/Router/getRoutes.js
Due: node_modules/.bin/eslint --fix

Small fix for router
  src/lib/component/Router/getRoutes.js
Due: node_modules/.bin/eslint --fix

Bump deps.
  package.json
  src/lib/helper/array/runWaterfall.js
  yarn.lock
Due: node_modules/.bin/eslint --fix

Update badges order.
  package.json
  yarn.lock
Due: none

Small fixes.
  .eslintrc.js
  package.json
  src/lib/helper/component/getName.js
  src/lib/hook/useStore.js
  src/model/User/Viewer/Session.js
  src/route/auth.js
  yarn.lock
Due: node_modules/.bin/eslint --fix
