Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add errorContext draft for GraphQL client
  src/core/error/index.jsx
  src/core/transport/graphql/errorContext.js
Due: node_modules/.bin/eslint --fix

Improve app config module.
  .babelrc
  package.json
  src/config/index.js
  yarn.lock
Due: node_modules/.bin/eslint --fix

Undo config changes. Finish 404 page mackup.
  src/config/index.js
  src/core/page/error/Http/NotFound/NotFound.jsx
  src/core/page/error/Http/NotFound/not-found.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add stories feed draft.
  package.json
  src/common/component/Loading/Page/PageLoader.jsx
  src/core/base/Application/Application.jsx
  src/core/error/index.jsx
  src/core/routes/RouteLoader.jsx
  src/core/routes/withAsyncRoute.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/home/page/Feed/Feed.jsx
  src/module/home/page/Feed/index.jsx
  src/route/home.json
  src/route/user.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add hacky error handling for 404 errors -_-
  src/core/error/withErrorHandler.js
  src/core/page/error/Application/ApplicationError.jsx
  src/core/page/error/Application/application-error.sss
  src/core/page/error/Application/application-error.svg
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve auth checking.
  package.json
  src/core/auth/helper/saveTokens.js
  src/core/auth/model/AuthAccessToken.js
  src/core/auth/model/AuthRefreshToken.js
  src/core/auth/model/AuthTokenMinimal.js
  src/core/auth/model/AuthTokenPayload.js
  src/core/auth/model/refreshAccessToken.gql
  src/core/auth/withAuth.jsx
  src/core/error/withErrorHandler.js
  src/core/page/error/Http/NotFound/NotFound.jsx
  src/core/transport/graphql/hasFiles.js
  src/module/auth/common/component/Redirect/withRedirect.jsx
  src/module/user/page/Profile/Profile.jsx
  static/assets/manifest.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Move to Webpack 4 (experimental!)
  build/config/index.js
  build/config/loader/0-babel.js
  build/config/loader/3-yaml.js
  build/config/plugin/0-babili.js
  build/config/plugin/1-define.js
  build/config/plugin/2-extract-text.js
  build/config/plugin/3-hmr.js
  build/config/plugin/4-html.js
  build/config/plugin/5-dirsk-write.js
  build/config/plugin/common.js
  build/config/plugin/disk-write.js
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add custom yaml-loader.
  build/config/index.js
  build/config/loader/3-yaml.js
  build/loader/yaml-loader.js
  package.json
  src/core/error/withErrorHandler.js
  yarn.lock
Due: node_modules/.bin/eslint --fix

Tiny fix for webpack config. Add a draft of Layuot component. Add Viewer component
  build/config/index.js
  package.json
  src/common/component/Layout/Header/Header.jsx
  src/common/component/Layout/Header/header.sss
  src/common/component/Layout/Header/index.jsx
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/index.jsx
  src/common/component/Layout/withLayout.jsx
  src/common/component/Viewer/Model.js
  src/common/component/Viewer/withViewer.jsx
  src/common/model/helper/transformDate.js
  src/common/model/store/misc/CommonDates.js
  src/common/model/store/user/UserDates.js
  src/core/auth/model/AuthAccessToken.js
  src/core/auth/model/AuthTokenPayload.js
  src/core/auth/withAuth.jsx
  src/core/transport/graphql/requestHandler.js
  src/module/home/page/Feed/Feed.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Update deps.
  package.json
  yarn.lock
Due: none

Update deps.
  .babelrc
  package.json
  yarn.lock
Due: none

Fix grammar typo.
  package.json
  src/core/page/error/Http/NotFound/NotFound.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Move to date-fns 2.0.0 alpha. Refactor transformDate helper.
  package.json
  src/common/model/helper/transformDate.js
  yarn.lock
Due: node_modules/.bin/eslint --fix

Rewrite objectIterator.
  src/core/helper/iterator/objectIterator.js
Due: node_modules/.bin/eslint --fix

Bump deps. Fix issue with [contenthash] in extract-text plugin config.
  build/config/plugin/2-extract-text.js
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Fix mobx conflicts
  package.json
  yarn.lock
Due: none

Bump deps. Fix MobX duplicate error message.
  package.json
  yarn.lock
Due: none

Fix layout elements. Add minimal implementation for router rewrites (very dumb and minimal).
  config/default.yaml
  package.json
  src/common/component/Layout/Header/Header.jsx
  src/common/component/Layout/Header/index.jsx
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/Menu/Menu.jsx
  src/common/component/Layout/Menu/index.jsx
  src/common/component/Layout/Menu/menu.sss
  src/common/component/Layout/layout.sss
  src/core/routes/createRoutes.js
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve router and component prefetcher.
  .babelrc
  build/config/index.js
  config/default.yaml
  package.json
  src/common/component/Title/Title.jsx
  src/common/component/Viewer/viewer.gql
  src/common/component/Viewer/withViewer.jsx
  src/core/auth/isAuthenticated.js
  src/core/auth/withAuth.jsx
  src/core/hoc/prefetch/index.jsx
  src/core/hoc/prefetch/prefetch.jsx
  src/core/routes/Routes.jsx
  src/core/routes/getRoutes.js
  src/module/home/page/Feed/Feed.jsx
  src/module/story/page/Details/Details.jsx
  src/module/story/page/Details/index.jsx
  src/module/story/page/New/New.jsx
  src/module/story/page/New/index.jsx
  src/module/user/page/Profile/Profile.jsx
  src/route/story.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Integrate with react-loadable instead of custom loader (experimental).
  build/config/index.js
  src/core/hoc/loadPage/index.jsx
  src/core/hoc/loadPage/loadPage.jsx
  src/core/hoc/prefetch/prefetch.jsx
  src/core/routes/RouteLoader.jsx
  src/core/routes/createRoutes.js
  src/core/routes/getRoutes.js
  src/core/routes/withAsyncRoute.jsx
  src/module/story/page/New/beforeRender.js
  src/module/story/page/New/index.jsx
Due: node_modules/.bin/eslint --fix

Fix home route prefixing.
  src/core/hoc/loadPage/loadPage.jsx
  src/core/routes/getRoutes.js
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/index.jsx
  src/module/story/page/Details/index.jsx
Due: node_modules/.bin/eslint --fix

Tiny fix
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Add errorHandler and loadingProcess HOCs.
  package.json
  src/core/hoc/errorHandler/errorHandler.jsx
  src/core/hoc/errorHandler/index.jsx
  src/core/hoc/loadPage/loadPage.jsx
  src/core/hoc/loadingProcess/index.jsx
  src/core/hoc/loadingProcess/loadingProcess.jsx
  src/core/hoc/withErrorHandler/withErrorHandler.jsx
  src/core/routes/getRoutes.js
  src/module/auth/common/component/Redirect/withRedirect.jsx
  src/module/home/page/Feed/Feed.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Tiny fix in docs.
  src/core/hoc/withErrorHandler/withErrorHandler.jsx
Due: node_modules/.bin/eslint --fix

Remove deprecated code.
  src/core/hoc/errorHandler/errorHandler.jsx
  src/core/hoc/loadPage/loadPage.jsx
  src/core/hoc/withErrorHandler/index.jsx
  src/core/routes/RouteLoader.jsx
  src/core/routes/createRoutes.js
  src/core/routes/getRoutes.js
  src/core/routes/withAsyncRoute.jsx
Due: node_modules/.bin/eslint --fix

Add custom implementation of loadable components.
  .eslintrc.json
  build/config/index.js
  package.json
  src/common/hoc/viewer/Model.js
  src/common/hoc/viewer/index.jsx
  src/common/hoc/viewer/viewer.gql
  src/common/hoc/viewer/viewer.jsx
  src/core/helper/decorator/requireComponent.js
  src/core/hoc/errorHandler/errorHandler.jsx
  src/core/hoc/loadPage/loadPage.jsx
  src/core/hoc/loadable/index.jsx
  src/core/hoc/loadable/loadable.jsx
  src/core/hoc/prefetch/index.jsx
  src/core/hoc/prefetch/prefetch.jsx
  src/core/model/connect.jsx
  src/core/page/error/Application/ApplicationError.jsx
  src/core/page/error/Application/application-error.svg
  src/core/page/error/Application/index.jsx
  src/core/page/error/ApplicationError/ApplicationError.jsx
  src/core/page/error/ApplicationError/application-error.sss
  src/core/page/error/ApplicationError/index.jsx
  src/core/routes/getRoutes.js
  src/module/story/page/New/New.jsx
  src/module/story/page/New/beforeRender.js
  src/module/user/page/Profile/Profile.jsx
  src/module/user/page/Profile/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Replace old extract-text-webpack plugin with modern one. NOTE: babel-minify breaks webpack runtime in production. Need to find a solution -_-
  .babelrc
  build/config/index.js
  build/config/loader/1-css.js
  build/config/plugin/0-babili.js
  build/config/plugin/2-extract-text.js
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix

Remove unused code. Add CommonDate model to format dates in next commits. Improve data fetching in user profile. Add session decorator minimal implementation.
  .babelrc
  src/common/model/store/misc/CommonDate.js
  src/common/model/store/misc/CommonDates.js
  src/core/auth/decorator/session.js
  src/core/auth/graphql/mutation/refreshAccessToken.gql
  src/core/auth/model/AuthAccessToken.js
  src/core/auth/model/AuthTokenPayload.js
  src/core/helper/store/fulfillAsyncAction.js
  src/core/helper/util/requireDefault.js
  src/core/hoc/loadPage/loadPage.jsx
  src/core/hoc/loadPage/matchErrors.js
  src/module/auth/common/component/Redirect/withRedirect.jsx
  src/module/user/page/Profile/getUser.js
  src/module/user/page/Profile/index.jsx
Due: node_modules/.bin/eslint --fix

Tiny fix.
  package.json
  src/module/user/page/Profile/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

More imporvements for an auth components and ApplicationError view.
  .babelrc
  src/core/auth/hoc/refreshAccessToken.jsx
  src/core/auth/refreshAccessToken.gql
  src/core/auth/saveTokens.js
  src/core/page/error/ApplicationError/ApplicationError.jsx
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Signup/Model.js
  src/module/auth/page/Signup/index.jsx
  src/module/user/page/Profile/index.jsx
Due: node_modules/.bin/eslint --fix

Add Story model draft and getStory query.
  src/module/story/page/Details/graphql/query/getStory/getStory.js
  src/module/story/page/Details/graphql/query/getStory/index.js
  src/module/story/page/Details/graphql/query/getStory/story.gql
  src/module/story/page/Details/index.jsx
  src/module/story/page/Details/model/Story.js
  src/module/story/page/New/index.jsx
Due: node_modules/.bin/eslint --fix

improve auth and session flow.
  package.json
  src/common/component/Layout/withLayout.jsx
  src/core/auth/graphql/mutation/refreshAccessToken.mjs
  src/core/auth/hoc/checkSesssion.js
  src/core/auth/hoc/refreshAccessToken.jsx
  src/core/auth/isTokenExpired.js
  src/core/auth/model/AuthTokenPayload.js
  src/core/auth/withAuth.jsx
  src/core/base/Application/Application.jsx
  src/module/home/page/Feed/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Improve redirecting after log in.
  package.json
  src/core/auth/model/AuthTokenPayload.js
  src/module/auth/common/component/Redirect/withRedirect.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Improve viewer HOC.
  src/common/hoc/viewer/component/Loading/Loading.jsx
  src/common/hoc/viewer/component/Loading/index.jsx
  src/common/hoc/viewer/graphql/query/getViewer.gql
  src/common/hoc/viewer/graphql/query/getViewer.mjs
  src/common/hoc/viewer/graphql/query/index.mjs
  src/common/hoc/viewer/index.jsx
  src/config/index.js
  src/core/helper/graphql/getData.mjs
Due: node_modules/.bin/eslint --fix

Tiny fix
  src/common/hoc/viewer/index.jsx
Due: node_modules/.bin/eslint --fix

Finish viewer HOC improvements.
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/withLayout.jsx
  src/common/hoc/viewer/graphql/query/getViewer.mjs
  src/common/hoc/viewer/index.jsx
  src/common/hoc/viewer/viewer.gql
  src/common/hoc/viewer/viewer.jsx
  src/core/auth/helper/isAuthenticated.mjs
  src/core/auth/hoc/checkSesssion.mjs
  src/core/auth/hoc/refreshAccessToken/index.jsx
  src/core/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
  src/core/error/withErrorHandler.mjs
  src/core/helper/graphql/getData.mjs
  src/core/page/error/Http/NotFound/NotFound.jsx
  src/module/home/page/Feed/index.jsx
Due: node_modules/.bin/eslint --fix

Tiny fix
  src/module/home/page/Feed/index.jsx
Due: node_modules/.bin/eslint --fix

Tiny fixes.
  src/core/hoc/loadable/loadable.jsx
  src/module/home/page/Feed/Feed.jsx
Due: node_modules/.bin/eslint --fix

Add Story model and first queries/mutations.
  package.json
  src/module/story/common/graphql/fragment/storyFragment.gql
  src/module/story/common/model/StoryMinimal.mjs
  src/module/story/page/Details/model/Story.mjs
  src/module/story/page/New/graphql/mutation/addStory/addStory.gql
  src/module/story/page/New/graphql/mutation/addStory/addStory.mjs
  src/module/story/page/New/graphql/mutation/addStory/index.mjs
  src/module/story/page/New/model/StoryNew.mjs
  yarn.lock
Due: none

Path conditions:
  node_modules/.bin/eslint --fix: (any of: build/**/*.{js,jsx}) or (any of: src/**/*.{js,jsx})
  node_modules/.bin/stylelint --fix: any of: src/**/*.sss
