Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.js": "node_modules/.bin/eslint --fix",
  "server/**/*.js": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx,mjs}": "node_modules/.bin/eslint --fix",
  ".eslintrc.js": "node_modules/.bin/eslint --fix",
  ".babelrc.js": "node_modules/.bin/eslint --fix",
  ".postcssrc.js": "node_modules/.bin/eslint --fix",

  "src/**/*.{scss,css}": "node_modules/.bin/stylelint --fix"
}

Add commonDates fragment.
  src/common/graphql/fragment/common/dates.gql
  src/common/graphql/query/story/story.gql
Due: none

Bump deps.
  package.json
  yarn.lock
Due: none

Small fixes.
  package.json
  src/common/component/Button/Button.jsx
  src/common/component/Button/Primary/Primary.jsx
  src/common/component/Button/Secondary/Secondary.jsx
  src/common/component/Form/Form.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add AbstractElement component (as core/component/Abstract.jsx) and improve common Button.
  src/common/component/Button/Button.jsx
  src/core/component/Abstract/Abstract.jsx
  src/core/component/Abstract/index.jsx
  src/core/hoc/forwardRef/forwardRef.jsx
Due: node_modules/.bin/eslint --fix

Tiny fix.
  src/core/component/Abstract/Abstract.jsx
Due: node_modules/.bin/eslint --fix

Fix auth pages.
  src/core/component/Abstract/Abstract.jsx
  src/module/auth/common/component/Form/Link/Link.jsx
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Improve forwardRef prop-types
  src/common/component/Button/Button.jsx
  src/common/component/Button/Primary/Primary.jsx
  src/common/component/Button/Secondary/Secondary.jsx
  src/common/component/Form/Form.jsx
  src/common/component/Input/Input.jsx
  src/core/hoc/forwardRef/forwardRef.jsx
  src/module/auth/common/component/Form/Button/Button.jsx
  src/module/auth/common/component/Form/Fields/Fields.jsx
  src/module/auth/common/component/Form/Footer/Footer.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/Input/Input.jsx
Due: node_modules/.bin/eslint --fix

Remove default title from the application container template.
  build/config/plugin/4-html.js
Due: node_modules/.bin/eslint --fix

Update dependencies.
  package.json
  yarn.lock
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Move rewrites to the default config.
  config/default.yaml
Due: none

Remove unused lines from config.
  config/default.yaml
Due: none

Add common Page model.
  src/common/model/Common/Page.mjs
Due: node_modules/.bin/eslint --fix

Add Page.isLoading property to indicate whether the page is loading.
  src/common/model/Common/Page.mjs
Due: node_modules/.bin/eslint --fix

Small fix.
  .npmrc
  package.json
  static/assets/security.txt
  yarn.lock
Due: none

Remove hacky error handler (the app is not fixed yet)
  src/lib/error/application/ApplicationErrorHandler.jsx
  src/lib/error/application/Context.mjs
  src/lib/error/application/createErrorConsumer.jsx
  src/lib/error/context/router.mjs
  src/lib/error/handler/attachConsumer.jsx
  src/lib/error/handler/attachHandler.jsx
  src/lib/error/handler/createConsumer.jsx
  src/lib/error/handler/createContext.jsx
  src/lib/error/handler/createProvider.jsx
  src/lib/error/handler/createReporter.mjs
  src/lib/error/handler/index.mjs
  src/lib/hoc/errorHandler.jsx
  src/lib/hoc/errorHandler/index.jsx
  src/lib/hoc/forwardRef.jsx
  src/lib/hoc/forwardRef/index.jsx
  src/lib/hoc/loadable/loadable.jsx
  src/lib/hoc/logErrors.jsx
  src/lib/hoc/logErrors/index.jsx
  src/lib/hoc/portal.jsx
  src/lib/hoc/portal/index.jsx
Due: node_modules/.bin/eslint --fix

Fixes for loadable hoc
  .eslintrc.js
  src/lib/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Small fix for loadable.
  src/lib/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Small fix
  src/lib/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Remove unnecessary imports from the loadable hoc
  src/lib/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Architecture changes
  build/config/index.js
  build/config/plugin/7-watch-install.js
  package.json
  src/base/main.css
  src/base/main.html
  src/base/main.jsx
  src/common/component/Button/Primary/primary.css
  src/common/component/Button/Secondary/secondary.css
  src/common/component/Button/button.css
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/textarea.css
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/layout.css
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/component/OnClickOutside/on-click-outside.css
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Element/Element.jsx
  src/common/component/SidebarMenu/component/internal/Element/Icon/Icon.jsx
  src/common/component/SidebarMenu/component/internal/Element/Icon/icon.css
  src/common/component/SidebarMenu/component/internal/Element/Label/Label.jsx
  src/common/component/SidebarMenu/component/internal/Element/Label/label.css
  src/common/component/SidebarMenu/component/internal/Element/element.css
  src/common/component/SidebarMenu/component/internal/List/List.jsx
  src/common/component/SidebarMenu/component/internal/List/menu-list.css
  src/common/component/SidebarMenu/component/internal/Logo/Logo.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/Text.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/text.css
  src/common/component/SidebarMenu/component/internal/Logo/logo.css
  src/common/component/SidebarMenu/component/internal/Mask/Mask.jsx
  src/common/component/SidebarMenu/component/internal/Mask/mask.css
  src/common/component/SidebarMenu/component/internal/Toggler/Toggler.jsx
  src/common/component/SidebarMenu/component/internal/Toggler/menu-toggler.css
  src/common/component/SidebarMenu/component/public/Element/Element.jsx
  src/common/component/SidebarMenu/component/public/Element/menu-element.css
  src/common/component/SidebarMenu/sidebar-menu.css
  src/common/style/colors.css
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Rewrite OnClickOutside and OnKeyDownOutside with react hooks.
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/component/OnKeyDownOutside/OnKeyDownOutside.jsx
Due: node_modules/.bin/eslint --fix

Adjust compoents structure. Rewrite Portal component with hooks.
  src/common/component/EnhancedTextField/Input.jsx
  src/common/component/EnhancedTextField/Input/index.jsx
  src/common/component/EnhancedTextField/TextArea.jsx
  src/common/component/EnhancedTextField/TextArea/index.jsx
  src/common/component/Form.jsx
  src/common/component/Form/index.jsx
  src/common/component/Input/Input.jsx
  src/common/component/Input/input.css
  src/common/component/OnKeyDownOutside.jsx
  src/common/component/OnKeyDownOutside/index.jsx
  src/common/component/Title.jsx
  src/common/hoc/enhanceTextField.jsx
  src/common/hoc/enhanceTextField/index.jsx
  src/common/hoc/redirect.jsx
  src/common/hoc/redirect/index.jsx
  src/lib/component/Portal.jsx
  src/lib/component/Portal/Portal.jsx
  src/lib/component/Portal/index.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix useEffect import in Portal component
  src/lib/component/Portal.jsx
Due: node_modules/.bin/eslint --fix

Improve Portal component
  src/lib/component/Portal.jsx
Due: node_modules/.bin/eslint --fix

Small fixes.
  package.json
  src/lib/component/Application/Application.jsx
  src/lib/component/Application/application.css
  src/lib/component/Error/ApplicationError/ApplicationError.jsx
  src/lib/component/Error/ApplicationError/application-error.css
  src/lib/component/Error/NotFoundError/NotFoundError.jsx
  src/lib/component/Error/NotFoundError/not-found-error.css
  src/lib/component/Error/TimeoutError/TimeoutError.jsx
  src/lib/component/Error/TimeoutError/timeout-error.css
  src/lib/component/Loading/Loading.jsx
  src/lib/component/Loading/loading.css
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Freeze dependencies.
  package.json
  yarn.lock
Due: none

Small fixes
  package.json
  src/common/style/colors.css
  src/lib/helper/array/lastElement.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Bump dependencies.
  package.json
  yarn.lock
Due: none

Small fixes and remove the whole project's components usage from Application (temporarily).
  .eslintrc.js
  build/config/loader/1-css.js
  build/config/plugin/4-html.js
  package.json
  src/lib/component/Application/Application.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add setTitle hook
  package.json
  src/common/hook/useTitle.mjs
  src/lib/component/Application/Application.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Move hooks to lib scope.
  src/lib/component/Application/Application.jsx
  src/lib/hook/useTitle.mjs
Due: node_modules/.bin/eslint --fix

Add docs for useTitle hook.
  src/lib/hook/useTitle.mjs
Due: node_modules/.bin/eslint --fix

Rewrite Title component with useTitle hook.
  src/lib/component/Title.jsx
Due: node_modules/.bin/eslint --fix
