Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.js": "node_modules/.bin/eslint --fix",
  "server/**/*.js": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx,mjs}": "node_modules/.bin/eslint --fix",
  ".eslintrc.js": "node_modules/.bin/eslint --fix",
  ".babelrc.js": "node_modules/.bin/eslint --fix",
  ".postcssrc.js": "node_modules/.bin/eslint --fix",

  "src/**/*.{scss,css}": "node_modules/.bin/stylelint --fix"
}

Add theme component that uses prefers-conlor-scheme to decide which colors to use inside of <body> element.
  src/base/main.css
  src/lib/component/Application/Application.jsx
  src/lib/component/Theme/Theme.jsx
  src/lib/component/Theme/colors.css
  src/lib/component/Theme/index.jsx
  src/page/Auth/LogIn/LogIn.jsx
  src/page/Auth/LogIn/index.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Rename: Theme -> DarkMode
  src/lib/component/Application/Application.jsx
  src/lib/component/DarkMode/Context.mjs
  src/lib/component/DarkMode/DarkMode.jsx
  src/lib/component/DarkMode/colors.css
  src/lib/component/DarkMode/index.jsx
  src/lib/component/Theme/index.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add Login page draft. Improvements across app styles and components.
  package.json
  server/index.js
  src/base/main.css
  src/common/component/Button/Button.jsx
  src/common/component/Button/Primary/Primary.jsx
  src/common/component/Button/Primary/primary.css
  src/common/component/Button/button.css
  src/common/component/Form.jsx
  src/common/component/Input/input.css
  src/common/model/Auth/LogIn.mjs
  src/lib/component/DarkMode/colors.css
  src/page/Auth/LogIn/LogIn.jsx
  src/page/Auth/LogIn/index.jsx
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Login/index.jsx
  src/page/Auth/Login/login.css
  src/route/auth.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fixes for login mutation.
  src/common/graphql/mutation/auth/logIn/logIn.gql
  src/common/model/Auth/LogIn.mjs
  src/page/Auth/Login/Login.jsx
Due: node_modules/.bin/eslint --fix

Add Delay component.
  src/lib/component/Delay.jsx
  src/lib/component/Router/Route.jsx
  src/lib/hook/useSuspender.mjs
Due: node_modules/.bin/eslint --fix

Update dependencies and remove unnecessary babel plugins. Improve Delay component and set default amount of tome to delay to 300ms
  .babelrc.js
  package.json
  src/lib/component/Delay.jsx
  src/lib/component/Router/Route.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add Title porperty for Route component
  src/lib/component/Router/Route.jsx
Due: node_modules/.bin/eslint --fix

Improvements for login page.
  src/common/component/Input/input.css
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Login/login.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Finish login page.
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Login/login.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Small fix.
  src/page/Auth/Login/Login.jsx
Due: node_modules/.bin/eslint --fix

Add Signup page.
  src/base/main.html
  src/page/Auth/Signup/Signup.jsx
  src/page/Auth/Signup/index.jsx
  src/page/Auth/Signup/signup.css
  src/route/auth.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix for NotFoundError page styles.
  src/lib/component/Error/NotFoundError/NotFoundError.jsx
  src/lib/component/Error/NotFoundError/not-found-error.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Small fix
  src/lib/component/Error/NotFoundError/not-found-error.css
Due: node_modules/.bin/stylelint --fix

Add account confirmation page.
  src/common/graphql/mutation/auth/confirm/confirm.gql
  src/common/graphql/mutation/auth/confirm/confirm.mjs
  src/common/graphql/mutation/auth/confirm/index.mjs
  src/common/graphql/mutation/auth/logIn/logIn.mjs
  src/lib/hook/useSuspender.mjs
  src/page/Auth/Confirm/Confirm.jsx
  src/page/Auth/Confirm/confirm.css
  src/page/Auth/Confirm/index.jsx
  src/route/auth.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Small fix.
  src/page/Auth/Confirm/Confirm.jsx
Due: node_modules/.bin/eslint --fix

Save updated tokens once account has been activated
  src/common/graphql/mutation/auth/confirm/confirm.mjs
Due: node_modules/.bin/eslint --fix

Add a redirection from confirmation page (in case if account has been activated successfully.)
  src/page/Auth/Confirm/Confirm.jsx
Due: node_modules/.bin/eslint --fix

Fix authLogIn action.
  src/common/graphql/mutation/auth/logIn/logIn.gql
  src/common/model/Auth/LogIn.mjs
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Small fix
  src/lib/helper/iterator/objectFilter.mjs
Due: node_modules/.bin/eslint --fix

Fixes for DarkMode styles.
  src/base/main.css
  src/lib/component/DarkMode/DarkMode.jsx
  src/lib/component/DarkMode/colors.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add docs for DarkMode component
  src/lib/component/DarkMode/DarkMode.jsx
Due: node_modules/.bin/eslint --fix

Rename: refreshTokenLink -> refreshTokensLink. Rewrite api call at refreshTokensLink.
  src/lib/auth/graphql/mutation/refreshAccessToken/index.mjs
  src/lib/auth/graphql/mutation/refreshAccessToken/refreshAccessToken.gql
  src/lib/auth/graphql/mutation/refreshAccessToken/refreshAccessToken.mjs
  src/lib/transport/graphql/client.mjs
  src/lib/transport/graphql/refreshTokensLink.mjs
Due: node_modules/.bin/eslint --fix

Improve refreshTokensLink
  src/lib/auth/helper/isExpired.mjs
  src/lib/transport/graphql/refreshTokensLink.mjs
Due: node_modules/.bin/eslint --fix

Small fix.
  src/lib/transport/graphql/refreshTokensLink.mjs
Due: node_modules/.bin/eslint --fix

Remove unused isAuthenticated helper.
  src/lib/auth/helper/isAuthenticated.mjs
Due: node_modules/.bin/eslint --fix

Improve loadable and useSuspender.
  src/lib/hoc/loadable.jsx
  src/lib/hook/useSuspender.mjs
Due: node_modules/.bin/eslint --fix

Small fix.
  src/lib/hook/useSuspender.mjs
Due: node_modules/.bin/eslint --fix

Fix for API call at refreshTokenLink. Add primitive validation for auth pages.
  src/common/model/Auth/LogIn.mjs
  src/lib/transport/graphql/refreshTokensLink.mjs
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Add error boundary component.
  src/lib/component/Error.jsx
  src/lib/hoc/error.jsx
  src/lib/hoc/reporter.jsx
Due: node_modules/.bin/eslint --fix

Support thenable suspenders in ErrorBoundary
  src/lib/component/Error.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  src/lib/component/Error.jsx
Due: node_modules/.bin/eslint --fix

Small fix for delay (avoid of using variables outside of useEffect)
  src/lib/component/Delay.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  .gitignore
Due: none

Fix for isExpired auth helper and confirmation messages style.
  src/lib/auth/helper/isExpired.mjs
  src/page/Auth/Confirm/confirm.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve compiler config.
  build/compiler.js
  build/config/index.js
  build/index.js
  package.json
Due: node_modules/.bin/eslint --fix

Output stats.
  build/index.js
Due: node_modules/.bin/eslint --fix

Fix for registration.
  src/common/graphql/mutation/auth/signUp/signUp.gql
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Bump dependencies
  package.json
  yarn.lock
Due: none

Add story creation page draft.
  config/default.yaml
  src/common/model/Story/Story.mjs
  src/common/model/Story/StoryNew.mjs
  src/page/Story/New/New.jsx
  src/page/Story/New/index.jsx
  src/route/story.mjs
Due: node_modules/.bin/eslint --fix

Add a draft for story creation page.
  src/page/Story/New/New.jsx
  src/page/Story/New/new.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix
