Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.js": "node_modules/.bin/eslint --fix",
  "server/**/*.js": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx,mjs}": "node_modules/.bin/eslint --fix",
  ".eslintrc.js": "node_modules/.bin/eslint --fix",
  ".babelrc.js": "node_modules/.bin/eslint --fix",
  ".postcssrc.js": "node_modules/.bin/eslint --fix",

  "src/**/*.{scss,css}": "node_modules/.bin/stylelint --fix"
}

Add standard spacings.
  package.json
  src/base/main.css
  src/base/spacing.css
  src/page/Auth/Confirm/confirm.css
  src/page/Auth/Login/login.css
  src/page/Auth/Signup/signup.css
  yarn.lock
Due: node_modules/.bin/stylelint --fix

Small fix.
  src/page/Home/Home.jsx
  src/page/Home/index.jsx
Due: node_modules/.bin/eslint --fix

Improve styles at primitive components.
  src/common/component/Button/Primary/primary.css
  src/common/component/Button/Secondary/secondary.css
  src/common/component/Button/button.css
  src/common/component/Input/input.css
  src/common/component/Title/index.jsx
  src/common/hoc/enhanceTextField.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Small fix.
  src/common/component/OnClickOutside/OnClickOutside.jsx
Due: node_modules/.bin/eslint --fix

useSuspender: Rename state errored -> rejected
  package.json
  src/lib/hook/useSuspender.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Fix a typo
  src/lib/hook/useSuspender.mjs
Due: node_modules/.bin/eslint --fix

Remove unnecessary code. Move redirect hoc to lib/hoc.
  src/lib/auth/hoc/refreshAccessToken/index.jsx
  src/lib/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
  src/lib/auth/hoc/session/index.jsx
  src/lib/auth/hoc/session/session.jsx
  src/lib/auth/model/AuthAccessToken.mjs
  src/lib/auth/model/AuthRefreshToken.mjs
  src/lib/auth/model/AuthTokenMinimal.mjs
  src/lib/auth/model/AuthTokens.mjs
  src/lib/hoc/redirect.jsx
Due: node_modules/.bin/eslint --fix

Improvements for auth. Add Viewer model and component.
  package.json
  src/common/component/Viewer.jsx
  src/common/model/Common/Dates/Date.mjs
  src/common/model/User/Viewer/Context.mjs
  src/common/model/User/Viewer/Viewer.mjs
  src/common/model/User/Viewer/index.mjs
  src/layout/.gitempty
  src/layout/DefaultLayout/Layout.jsx
  src/lib/auth/helper/getViewer.mjs
  src/lib/auth/helper/isExpired.mjs
  src/lib/auth/helper/saveTokens.mjs
  src/lib/helper/graphql/getData.mjs
  src/lib/hook/useSuspender.mjs
  src/lib/transport/graphql/refreshTokensLink.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add refreshToken param on confirmation mutation.
  src/common/graphql/mutation/auth/confirm/confirm.gql
  src/common/graphql/mutation/auth/confirm/confirm.mjs
Due: node_modules/.bin/eslint --fix

Improve viewer querying.
  src/common/graphql/fragment/user/avatar.gql
  src/lib/auth/helper/getViewer.mjs
Due: node_modules/.bin/eslint --fix

Add sidebar menu draft
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/index.jsx
  src/common/component/SidebarMenu/sidebar-menu.css
  src/layout/DefaultLayout/Layout.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add avatar component.
  src/common/component/Avatar/Avatar.jsx
  src/common/component/Avatar/avatar.css
  src/common/component/Avatar/index.jsx
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/sidebar-menu.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add some flexibility to Avatar component.
  src/common/component/Avatar/Avatar.jsx
  src/common/component/Avatar/avatar.css
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add Dropdownmenu component draft.
  package.json
  src/common/component/Button/Secondary/Secondary.jsx
  src/common/component/DropdownMenu/DropdownMenu.jsx
  src/common/component/DropdownMenu/dropdown-menu.css
  src/common/component/DropdownMenu/index.jsx
  src/page/Home.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Allow to customize DropdownMenu with custom components for List and Element.
  src/common/component/DropdownMenu/DropdownMenu.jsx
  src/common/component/DropdownMenu/Element/Element.jsx
  src/common/component/DropdownMenu/Element/index.jsx
  src/common/component/DropdownMenu/List/List.jsx
  src/common/component/DropdownMenu/List/index.jsx
  src/common/component/DropdownMenu/List/list.css
  src/common/component/DropdownMenu/dropdown-menu.css
  src/common/component/DropdownMenu/index.jsx
  src/lib/component/RenderFrom.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve dropdown menu
  src/common/component/DropdownMenu/DropdownMenu.jsx
  src/common/component/DropdownMenu/List/List.jsx
  src/page/Home.jsx
Due: node_modules/.bin/eslint --fix

Small fix
  .eslintrc.js
  src/lib/component/Delay.jsx
Due: node_modules/.bin/eslint --fix

Remove an old version of preventDefault decorator
  src/lib/helper/decorator/preventDefault.old.mjs
Due: node_modules/.bin/eslint --fix

Small fix.
  package.json
  src/lib/hook/useSuspender.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add support of use-suspender hook.
  package.json
  src/common/component/Viewer.jsx
  src/lib/component/Router/Route.jsx
  src/lib/hoc/loadable.jsx
  src/lib/hook/useSuspender.mjs
  src/page/Auth/Confirm/Confirm.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Rewrite auth forms with react-hook-form
  package.json
  src/common/component/Input/Input.jsx
  src/common/component/Input/input.css
  src/common/graphql/mutation/auth/logIn/logIn.mjs
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Remove auth models in favour of react-hook-form
  src/common/model/Auth/LogIn.mjs
  src/common/model/Auth/SignUp.mjs
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  src/lib/transport/graphql/refreshTokensLink.mjs
Due: node_modules/.bin/eslint --fix

Update dependencies.
  package.json
  yarn.lock
Due: none

Update use-suspender
  package.json
  yarn.lock
Due: none

Use onBlur validation for auth forms.
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Fix for Delay component
  src/common/model/Common/Page.mjs
  src/lib/component/Delay.jsx
Due: node_modules/.bin/eslint --fix

Small fix
  src/lib/component/Delay.jsx
Due: node_modules/.bin/eslint --fix

Small fix.
  src/common/model/Common/Page.mjs
Due: node_modules/.bin/eslint --fix

Rename src/graphql -> src/api
  src/api/fragment/auth/accessToken.gql
  src/api/fragment/auth/refreshToken.gql
  src/api/fragment/auth/tokens.gql
  src/api/fragment/common/dates.gql
  src/api/fragment/story/minimal.gql
  src/api/fragment/user/avatar.gql
  src/api/fragment/user/minimal.gql
  src/api/mutation/auth/confirm/confirm.gql
  src/api/mutation/auth/confirm/confirm.mjs
  src/api/mutation/auth/confirm/index.mjs
  src/api/mutation/auth/logIn/index.mjs
  src/api/mutation/auth/logIn/logIn.gql
  src/api/mutation/auth/logIn/logIn.mjs
  src/api/mutation/auth/signUp/index.mjs
  src/api/mutation/auth/signUp/signUp.gql
  src/api/mutation/auth/signUp/signUp.mjs
  src/api/mutation/story/update/index.mjs
  src/api/mutation/story/update/update.gql
  src/api/mutation/story/update/update.mjs
  src/api/query/story/index.mjs
  src/api/query/story/story.gql
  src/api/query/story/story.mjs
  src/api/query/user/index.mjs
  src/api/query/user/user.gql
  src/api/query/user/user.mjs
  src/model/Story/Story.mjs
  src/page/Auth/Confirm/Confirm.jsx
  src/page/Auth/Login/Login.jsx
  src/page/Auth/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Return Session back.
  src/component/SidebarMenu/SidebarMenu.jsx
  src/component/Viewer.jsx
  src/model/User/Viewer/Session.mjs
Due: node_modules/.bin/eslint --fix

Add Session model actions.
  package.json
  src/model/User/Viewer/Session.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix

Small fix.
  src/component/Viewer.jsx
Due: node_modules/.bin/eslint --fix

Bump dependencies
  package.json
  yarn.lock
Due: none

Improve session model.
  src/model/User/Viewer/Session.mjs
Due: node_modules/.bin/eslint --fix

Redirect authenticated users from auth pages.
  package.json
  src/component/SidebarMenu/SidebarMenu.jsx
  src/component/SidebarMenu/sidebar-menu.css
  src/layout/DefaultLayout/Layout.jsx
  src/lib/component/Application/Application.jsx
  src/lib/component/Router/Route.jsx
  src/lib/helper/util/interopRequireDefault.mjs
  src/route/auth.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Remove authenticated users redirection from account confirmation page.
  src/route/auth.mjs
Due: node_modules/.bin/eslint --fix

Move viewer querying to api/query/user/viewer
  src/api/query/user/viewer/index.mjs
  src/api/query/user/viewer/viewer.gql
  src/api/query/user/viewer/viewer.mjs
  src/component/Viewer.jsx
  src/lib/auth/helper/getViewer.mjs
  src/model/User/UserDates.mjs
Due: node_modules/.bin/eslint --fix
