Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.{js,jsx}": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx}": "node_modules/.bin/eslint --fix",
  "src/**/*.sss": "node_modules/.bin/stylelint --fix"
}

Add text fields with enhanced keys listeners.
  src/common/component/EnhancedTextField/Input/Input.jsx
  src/common/component/EnhancedTextField/Input/index.jsx
  src/common/component/EnhancedTextField/TextArea/TextArea.jsx
  src/common/component/EnhancedTextField/TextArea/index.jsx
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/common/hoc/enhanceTextField/index.jsx
  src/core/helper/component/getName.js
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/Title/Title.jsx
  src/module/story/common/component/Editor/Title/index.jsx
  src/module/story/common/component/Editor/Title/title.sss
  src/module/story/common/component/Editor/editor.sss
  src/module/story/common/component/Editor/index.jsx
  src/module/story/common/model/StoryMinimal.mjs
  src/module/story/page/New/New.jsx
  src/module/story/page/New/index.jsx
  src/module/story/page/New/model/StoryNew.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add interactive document title in story editor. Fix props passing in echanced text fields.
  src/common/component/EnhancedTextField/Input/Input.jsx
  src/common/component/EnhancedTextField/TextArea/TextArea.jsx
  src/module/story/common/component/Editor/Title/Title.jsx
  src/module/story/common/component/Editor/editor.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Tiny fixed for title editor.
  src/module/story/common/component/Editor/Title/Title.jsx
  src/module/story/common/component/Editor/Title/title.sss
  src/module/story/common/component/Editor/editor.sss
  src/module/story/page/New/model/StoryNew.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add auto sizable textare. Add OnClickOutside component. Add DescriptionEditor.
  package.json
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/TextAreaWithAutoSize.jsx
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/index.jsx
  src/common/component/Fragment/Fragment.jsx
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/component/OnClickOutside/index.jsx
  src/common/component/OnClickOutside/on-click-outside.sss
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/DescriptionEditor/description-editor.sss
  src/module/story/common/component/Editor/DescriptionEditor/index.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/Title/index.jsx
  src/module/story/common/component/Editor/TitleEditor/TitleEditor.jsx
  src/module/story/common/component/Editor/TitleEditor/index.jsx
  src/module/story/common/component/Editor/TitleEditor/title-editor.sss
  src/module/story/common/component/Editor/editor.sss
  view/container.html
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improvements for story editor and models connect component.
  package.json
  src/core/model/connect.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/TitleEditor/title-editor.sss
  src/module/story/common/component/Editor/editor.sss
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Docs for connect HOC.
  src/core/model/connect.jsx
Due: node_modules/.bin/eslint --fix

Some code refator for model connect HOC.
  src/core/model/connect.jsx
Due: node_modules/.bin/eslint --fix

Improvements for components and data loading. Added parallel and serial loading for stateful components!
  package.json
  server/index.js
  src/core/auth/decorator/session.mjs
  src/core/base/Application/Application.jsx
  src/core/helper/util/objectFlatMerge.mjs
  src/core/helper/util/objectRunParallel.mjs
  src/core/helper/util/objectRunSerial.mjs
  src/core/hoc/loadPage/index.jsx
  src/core/hoc/loadPage/loadPage.jsx
  src/core/hoc/loadable/loadable.jsx
  src/core/hoc/loadable/page/index.jsx
  src/core/hoc/loadable/page/loadablePage.jsx
  src/core/hoc/loadable/page/matchErrors.mjs
  src/core/hoc/loadable/statefulComponent/index.jsx
  src/core/hoc/loadable/statefulComponent/loadableStatefullComponent.jsx
  src/core/hoc/loadingProcess/TimeoutError/TimeoutError.jsx
  src/core/hoc/loadingProcess/TimeoutError/index.jsx
  src/core/hoc/loadingProcess/loadingProcess.jsx
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Signup/index.jsx
  src/module/home/page/Feed/index.jsx
  src/module/story/page/Details/index.jsx
  src/module/story/page/New/index.jsx
  src/module/user/page/Profile/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Fix for objectRun{Parallel,Serial}: Wrap next task to Promise.resolve call to get result from it safety. Refactor loadable HOC and add support of serial loading.
  src/core/helper/util/objectRunParallel.mjs
  src/core/helper/util/objectRunSerial.mjs
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Remove unused imports.
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Remove dead code from loadable HOC
  src/core/hoc/loadable/loadable.jsx
Due: node_modules/.bin/eslint --fix

Add session HOC and connect it with viewer one.
  src/common/hoc/viewer/index.jsx
  src/core/auth/hoc/session/index.jsx
  src/core/auth/hoc/session/session.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/page/New/index.jsx
Due: node_modules/.bin/eslint --fix

Improve user querying
  .babelrc
  .eslintrc.json
  package.json
  src/core/helper/util/isNaN.mjs
  src/core/hoc/loadable/loadable.jsx
  src/module/home/page/Feed/Feed.jsx
  src/module/home/page/Feed/index.jsx
  src/module/user/page/Profile/graphql/query/user/index.mjs
  src/module/user/page/Profile/graphql/query/user/user.gql
  src/module/user/page/Profile/graphql/query/user/user.mjs
  src/module/user/page/Profile/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Rename .babelrc -> .babelrc.js and .eslintrc.json -> .eslintrc.js
  .babelrc.js
  .eslintrc.js
  .eslintrc.json
Due: none

Fix isAuthenticated helper. Improve layout and add a draft of main menu.
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/Menu/Logo/Logo.jsx
  src/common/component/Layout/Menu/Logo/index.jsx
  src/common/component/Layout/Menu/Logo/logo.sss
  src/common/component/Layout/Menu/Menu.jsx
  src/common/component/Layout/Menu/menu.sss
  src/common/component/Layout/layout.sss
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/component/Viewer/Model.mjs
  src/common/component/Viewer/viewer.gql
  src/common/component/Viewer/withViewer.jsx
  src/common/style/colors.sss
  src/common/svg/layout/logo.svg
  src/core/auth/helper/isAuthenticated.mjs
  src/module/home/page/Feed/Feed.jsx
  src/module/story/page/New/New.jsx
  src/module/user/page/Profile/Profile.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix story editor width.
  src/module/story/common/component/Editor/editor.sss
Due: node_modules/.bin/stylelint --fix

Better navigation between story editor fields.
  src/common/component/EnhancedTextField/TextAreaWithAutoSize/TextAreaWithAutoSize.jsx
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/TitleEditor/TitleEditor.jsx
Due: node_modules/.bin/eslint --fix

Fix title deleting after focus on title by backspace key.
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/Editor.jsx
  src/module/story/common/component/Editor/TitleEditor/TitleEditor.jsx
Due: node_modules/.bin/eslint --fix

Rewrite preventDefault decorator from scratch: Add support for class properties and method decoration both with an old functional API.
  .babelrc.js
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/core/helper/decorator/preventDefault.mjs
  src/module/story/common/component/Editor/DescriptionEditor/DescriptionEditor.jsx
  src/module/story/common/component/Editor/Editor.jsx
Due: node_modules/.bin/eslint --fix

Add docs for preventDefault decorator.
  src/core/helper/decorator/preventDefault.mjs
Due: none

Add sidebar menu component draft.
  src/common/component/Layout/Layout.jsx
  src/common/component/Layout/Menu/Menu.jsx
  src/common/component/Layout/Menu/index.jsx
  src/common/component/SidebarMenu/Element.jsx
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Footer/Footer.jsx
  src/common/component/SidebarMenu/component/internal/Footer/index.jsx
  src/common/component/SidebarMenu/component/internal/Footer/menu-footer.sss
  src/common/component/SidebarMenu/component/internal/List/List.jsx
  src/common/component/SidebarMenu/component/internal/List/index.jsx
  src/common/component/SidebarMenu/component/internal/List/menu-list.sss
  src/common/component/SidebarMenu/component/internal/Logo/Logo.jsx
  src/common/component/SidebarMenu/component/internal/Logo/index.jsx
  src/common/component/SidebarMenu/component/internal/Logo/logo.sss
  src/common/component/SidebarMenu/component/internal/readme.md
  src/common/component/SidebarMenu/component/public/Element/Element.jsx
  src/common/component/SidebarMenu/component/public/Element/index.js
  src/common/component/SidebarMenu/component/public/Element/menu-element.sss
  src/common/component/SidebarMenu/component/public/index.jsx
  src/common/component/SidebarMenu/index.jsx
  src/common/component/SidebarMenu/sidebar-menu.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improvements for SidebarMenu. Remove unused code. Add DefaultMenu, GuestMenu and UserMenu to Layout.
  build/config/plugin/0-babili.js
  package.json
  server/index.js
  src/common/component/Layout/DefaultMenu/DefaultMenu.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/GuestMenu.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/Login/Login.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/Login/index.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/Signup/Signup.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/Signup/index.jsx
  src/common/component/Layout/DefaultMenu/GuestMenu/index.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/UserMenu.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/index.jsx
  src/common/component/Layout/DefaultMenu/index.jsx
  src/common/component/Layout/Layout.jsx
  src/common/component/SidebarMenu/component/internal/List/List.jsx
  src/common/component/SidebarMenu/component/internal/List/menu-list.sss
  src/common/component/SidebarMenu/component/public/Element/Element.jsx
  src/common/component/SidebarMenu/component/public/Element/menu-element.sss
  src/core/routes/Routes.jsx
  src/module/user/page/Profile/getUser.mjs
  src/module/user/page/Profile/user.gql
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Little fix for menu element styles.
  src/common/component/SidebarMenu/component/internal/List/menu-list.sss
Due: node_modules/.bin/stylelint --fix

Fix authentication flow.
  src/common/component/Layout/DefaultMenu/UserMenu/Profile/Profile.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/Profile/index.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/UserMenu.jsx
  src/common/hoc/viewer/graphql/query/getViewer.mjs
  src/common/hoc/viewer/index.jsx
  src/common/hoc/viewer/viewer.jsx
  src/core/auth/helper/isAuthenticated.mjs
  src/core/auth/hoc/session/index.jsx
  src/core/auth/model/AuthTokenPayload.mjs
Due: node_modules/.bin/eslint --fix

Add animated loading spinner. Some fixes.
  package.json
  src/common/hoc/viewer/component/Loading/Loading.jsx
  src/common/hoc/viewer/index.jsx
  src/common/style/colors.sss
  src/core/auth/hoc/refreshAccessToken/refreshAccessToken.jsx
  src/core/component/Loading/Loading.jsx
  src/core/component/Loading/index.jsx
  src/core/component/Loading/loading.sss
  src/core/hoc/errorHandler/errorHandler.jsx
  src/core/hoc/loadable/page/loadablePage.jsx
  src/core/hoc/loadable/statefulComponent/loadableStatefullComponent.jsx
  src/core/routes/getRoutes.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add SidebarMenu model. Add menu Footer reactions.
  package.json
  src/common/component/Layout/DefaultMenu/UserMenu/StoryNew/StoryNew.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/StoryNew/index.jsx
  src/common/component/Layout/DefaultMenu/UserMenu/UserMenu.jsx
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Footer/Footer.jsx
  src/common/component/SidebarMenu/component/internal/Footer/menu-footer.sss
  src/common/component/SidebarMenu/model/SidebarMenu.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve SidebarMenu model: Use State enum to represent menu state instead of using different flags.
  src/common/component/SidebarMenu/component/internal/Footer/Footer.jsx
  src/common/component/SidebarMenu/component/internal/Footer/menu-footer.sss
  src/common/component/SidebarMenu/model/SidebarMenu.mjs
  src/common/component/SidebarMenu/model/State.mjs
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add an experimental menu shitty-animation.
  src/common/component/Layout/layout.sss
  src/common/component/SidebarMenu/SidebarMenu.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Logo.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/Text.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/index.jsx
  src/common/component/SidebarMenu/component/internal/Logo/Text/text.sss
  src/common/component/SidebarMenu/component/internal/Logo/logo.sss
  src/common/component/SidebarMenu/sidebar-menu.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Bump deps.
  package.json
  src/common/component/SidebarMenu/component/internal/Logo/Text/text.sss
  src/common/component/SidebarMenu/component/internal/Logo/logo.sss
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/core/transport/graphql/requestHandler.mjs
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve OnClickOutside component.
  package.json
  src/common/component/OnClickOutside/OnClickOutside.jsx
  src/common/component/OnClickOutside/on-click-outside.sss
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Code style fixes.
  src/common/component/OnClickOutside/OnClickOutside.jsx
Due: node_modules/.bin/eslint --fix

Remove unnecessary props from text fields.
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
Due: node_modules/.bin/eslint --fix

Add .browserslistrc and postcss-preset env (instead of postcss-cssnext). Remove postcss-font-magician.
  .babelrc.js
  .browserslistrc
  .stylelintrc.json
  build/config/loader/1-css.js
  package.json
  src/common/hoc/enhanceTextField/enhanceTextField.jsx
  src/common/style/colors.sss
  src/core/base/main.sss
  src/module/story/common/component/Editor/editor.sss
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix project minimization for production.
  build/config/index.js
  build/config/plugin/0-babili.js
  package.json
  static/assets/security.txt
  yarn.lock
Due: node_modules/.bin/eslint --fix

Improve UglifyJS config.
  build/config/index.js
Due: node_modules/.bin/eslint --fix

Some fixes. Rewrite objectRun{Parallel,Serial} helpers for more consistency.
  build/config/index.js
  src/core/helper/util/arrayWaterfall.mjs
  src/core/helper/util/objectRunParallel.mjs
  src/core/helper/util/objectRunSerial.mjs
  src/core/hoc/loadable/loadable.jsx
  src/module/auth/page/Login/graphql/mutation/authenticate/authenticate.gql
  src/module/auth/page/Login/graphql/mutation/authenticate/authenticate.mjs
  src/module/auth/page/Login/index.jsx
  src/module/auth/page/Signup/index.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Refactor of objectFlatMerge.
  src/core/helper/util/objectFlatMerge.mjs
Due: none

Remove unnecessary session decorator.
  src/core/auth/decorator/session.mjs
Due: none

Refactor user registration and story details.
  src/module/auth/page/Login/Model.mjs
  src/module/auth/page/Login/graphql/mutation/authenticate/index.mjs
  src/module/auth/page/Signup/Model.mjs
  src/module/auth/page/Signup/graphql/mutation/createUser/createUser.gql
  src/module/auth/page/Signup/graphql/mutation/createUser/createUser.mjs
  src/module/auth/page/Signup/graphql/mutation/createUser/index.mjs
  src/module/story/page/Details/Details.jsx
  src/module/story/page/Details/graphql/query/getStory/getStory.mjs
  src/module/story/page/Details/index.jsx
Due: node_modules/.bin/eslint --fix

Add createUser resolver.
  package.json
  src/module/auth/page/Signup/createUser.gql
  src/module/auth/page/Signup/graphql/mutation/createUser/createUser.mjs
  yarn.lock
Due: none
