Repository twi-dev/client-service: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

.lintstagedrc:

{
  "build/**/*.{js,jsx}": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx}": "node_modules/.bin/eslint --fix",
  "src/**/*.sss": "node_modules/.bin/stylelint --fix"
}

Some improvements of GraphQL transport
  build/config/index.js
  package.json
  src/core/base/main.jsx
  src/core/container/Application/Application.jsx
  src/core/container/Application/application.sss
  src/core/container/Application/index.jsx
  src/core/container/Router/Router.jsx
  src/core/container/Router/index.jsx
  src/core/error/ErrorHandler.jsx
  src/core/error/withErrorHandling.js
  src/core/router/ViewLoader.jsx
  src/core/router/asyncRouteDecorator.jsx
  src/core/router/index.js
  src/core/router/withAsyncRoute.jsx
  src/core/transport/graphql/hasFiles.js
  src/core/transport/graphql/index.js
  src/core/transport/graphql/processResponse.js
  src/core/transport/graphql/requestHandler.js
  src/module/auth/page/Login/LoginModel.js
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Update deps.
  package.json
  yarn.lock
Due: none

Improve graphql request handler.
  package.json
  src/core/db/index.js
  src/core/transport/graphql/authContext.js
  src/core/transport/graphql/client.js
  src/core/transport/graphql/index.js
  src/core/transport/graphql/requestHandler.js
  yarn.lock
Due: node_modules/.bin/eslint --fix

Tiny naming fix
  src/core/transport/graphql/hasFiles.js
Due: node_modules/.bin/eslint --fix

Add Login form minimal markup.
  package.json
  src/common/style/main.sss
  src/module/auth/common/component/Button/Button.jsx
  src/module/auth/common/component/Button/button.sss
  src/module/auth/common/component/Button/index.jsx
  src/module/auth/common/component/Footer/Footer.jsx
  src/module/auth/common/component/Footer/footer.sss
  src/module/auth/common/component/Footer/index.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/form.sss
  src/module/auth/common/component/Input/Input.jsx
  src/module/auth/common/component/Input/index.jsx
  src/module/auth/common/component/Input/input.sss
  src/module/auth/common/component/Link/Link.jsx
  src/module/auth/common/component/Link/index.jsx
  src/module/auth/common/component/Link/link.sss
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/LoginModel.js
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add NotFound page draft
  build/config/loader/svg.js
  package.json
  src/core/view/error/NotFound/NotFound.jsx
  src/core/view/error/NotFound/index.js
  src/core/view/error/NotFound/not-found.sss
  src/core/view/error/NotFound/not-found.svg
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix image scale on NotFound page.
  package.json
  src/core/view/error/NotFound/NotFound.jsx
  src/core/view/error/NotFound/not-found.sss
  src/core/view/error/NotFound/not-found.svg
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

WTF git??
  src/core/view/error/NotFound/NotFound.jsx
  src/core/view/error/NotFound/not-found.sss
  src/core/view/error/NotFound/not-found.svg
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Login page draft
  src/module/auth/common/component/Button/button.sss
  src/module/auth/common/component/Footer/footer.sss
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/form.sss
  src/module/auth/common/component/Input/input.sss
  src/module/auth/page/Login/Login.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve common components of an auth form.
  src/module/auth/common/component/Button/Button.jsx
  src/module/auth/common/component/Fields/Fields.jsx
  src/module/auth/common/component/Fields/fields.sss
  src/module/auth/common/component/Fields/index.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Link/Link.jsx
  src/module/auth/common/component/Link/link.sss
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/SignupModel.js
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve auth form component architecture. Move auth form related compoments to its directory. Improve Login and Signup form.
  src/module/auth/common/component/Form/Button/Button.jsx
  src/module/auth/common/component/Form/Button/button.sss
  src/module/auth/common/component/Form/Button/index.jsx
  src/module/auth/common/component/Form/Fields/Fields.jsx
  src/module/auth/common/component/Form/Fields/fields.sss
  src/module/auth/common/component/Form/Fields/index.jsx
  src/module/auth/common/component/Form/Footer/Footer.jsx
  src/module/auth/common/component/Form/Footer/footer.sss
  src/module/auth/common/component/Form/Footer/index.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/Input/Input.jsx
  src/module/auth/common/component/Form/Input/index.jsx
  src/module/auth/common/component/Form/Input/input.sss
  src/module/auth/common/component/Form/Link/Link.jsx
  src/module/auth/common/component/Form/Link/index.jsx
  src/module/auth/common/component/Form/Link/link.sss
  src/module/auth/common/component/Input/Input.jsx
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/signup.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

A lil improvement for 404 page.
  src/common/style/main.sss
  src/core/view/error/NotFound/NotFound.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Some tiny fixes for auth pages.
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Update babel and its config. Tiny fix for prop-types declaration at auth form components.
  .babelrc
  build/config/loader/4-svg.js
  package.json
  src/module/auth/common/component/Form/Button/Button.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/Input/Input.jsx
  src/module/auth/common/component/Form/Link/Link.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Add drafts of password recover page.
  src/common/style/main.sss
  src/core/router/ViewLoader.jsx
  src/module/auth/page/Recover/Confirm/Confirm.jsx
  src/module/auth/page/Recover/Confirm/Failure/Failure.jsx
  src/module/auth/page/Recover/Confirm/Failure/index.jsx
  src/module/auth/page/Recover/Confirm/Success/Success.jsx
  src/module/auth/page/Recover/Confirm/Success/index.jsx
  src/module/auth/page/Recover/Confirm/confirm.graphql
  src/module/auth/page/Recover/Confirm/index.jsx
  src/module/auth/page/Recover/Recover.jsx
  src/module/auth/page/Recover/index.jsx
  src/module/auth/page/Recover/recover.graphql
  src/module/auth/page/Recover/recover.sss
  src/route/auth.json
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Some improvements for auth pages. Replace react-document-title with react-helmet. Add new public common components: Title, Fragment. Mode NotFound components from core.
  package.json
  src/common/component/Fragment/Fragment.jsx
  src/common/component/Fragment/fragment.sss
  src/common/component/Fragment/index.jsx
  src/common/component/Loader/Page/PageLoader.jsx
  src/common/component/Title/Title.jsx
  src/common/component/Title/index.jsx
  src/common/page/error/http/NotFound/NotFound.jsx
  src/common/page/error/http/NotFound/index.js
  src/common/page/error/http/NotFound/not-found.sss
  src/common/page/error/http/NotFound/not-found.svg
  src/core/container/Application/Application.jsx
  src/core/container/Router/Router.jsx
  src/core/view/error/NotFound/NotFound.jsx
  src/module/auth/common/component/Form/Form.jsx
  src/module/auth/common/component/Form/Input/Input.jsx
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Recover/Recover.jsx
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/signup.sss
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Fix grammar mistake
  src/common/component/Fragment/Fragment.jsx
Due: node_modules/.bin/eslint --fix

Add user creation minimal implementation.
  src/core/container/Router/Router.jsx
  src/core/helper/iterator/objectMap.js
  src/core/helper/iterator/objectMapToArrayTasks.js
  src/core/transport/graphql/client.js
  src/core/transport/graphql/index.js
  src/module/auth/common/component/Form/Fields/fields.sss
  src/module/auth/common/component/Form/form.sss
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/login.sss
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/SignupModel.js
  src/module/auth/page/Signup/createUser.graphql
  src/module/auth/page/Signup/signup.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add objectFilter helper.
  src/core/helper/iterator/objectFilter.js
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/SignupModel.js
Due: node_modules/.bin/eslint --fix

Some improvements for auth process and pages.
  src/core/auth/saveTokens.js
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Signup/Model.js
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Fix deps.
  package.json
  yarn.lock
Due: none

Add error handler component
  src/core/error/ErrorHandler.jsx
  src/core/error/withErrorHandler.js
  src/core/error/withErrorHandling.js
  src/core/model/connect.js
  src/core/router/ViewLoader.jsx
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Login/authenticate.gql
  src/module/auth/page/Recover/Recover.jsx
  src/module/auth/page/Signup/Model.js
  src/module/auth/page/Signup/Signup.jsx
  src/module/auth/page/Signup/createUser.gql
  src/module/auth/page/Signup/signup.sss
  src/module/home/page/Home.jsx
  static/assets/img/icns/apple-touch-icon/114/apple-touch-icon-114.png
  static/assets/img/icns/apple-touch-icon/120/apple-touch-icon-120.png
  static/assets/img/icns/apple-touch-icon/144/apple-touch-icon-144.png
  static/assets/img/icns/apple-touch-icon/152/apple-touch-icon-152.png
  static/assets/img/icns/apple-touch-icon/180/apple-touch-icon-180.png
  static/assets/img/icns/apple-touch-icon/57/apple-touch-icon-57.png
  static/assets/img/icns/apple-touch-icon/60/apple-touch-icon-60.png
  static/assets/img/icns/apple-touch-icon/72/apple-touch-icon-72.png
  static/assets/img/icns/apple-touch-icon/76/apple-touch-icon-76.png
  static/assets/img/icns/apple-touch-icon/precompressed/apple-touch-icon-precomposed.png
  static/assets/img/icns/chrome/chrome-twi-144.png
  static/assets/img/icns/chrome/chrome-twi-192.png
  static/assets/img/icns/chrome/chrome-twi-36.png
  static/assets/img/icns/chrome/chrome-twi-48.png
  static/assets/img/icns/chrome/chrome-twi-72.png
  static/assets/img/icns/chrome/chrome-twi-96.png
  static/assets/img/icns/favicon/twi-16.png
  static/assets/img/icns/favicon/twi-32.png
  static/assets/img/icns/favicon/twi-96.png
  static/assets/img/icns/favicon/twi.ico
  static/assets/img/icns/tile/mstile-144.png
  static/assets/img/icns/tile/mstile-150.png
  static/assets/img/icns/tile/mstile-310.png
  static/assets/img/icns/tile/mstile-310x150.png
  static/assets/img/icns/tile/mstile-70.png
  view/container.html
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Tiny improvement
  src/core/router/ViewLoader.jsx
Due: node_modules/.bin/eslint --fix

More auth improvements
  src/module/auth/common/component/Form/Button/Button.jsx
  src/module/auth/common/component/Form/Button/button.sss
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Signup/Model.js
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add withAuth component which is useful for automatically accessToken refreshing.
  src/core/auth/refreshAccessToken.gql
  src/core/auth/withAuth.jsx
  src/core/router/ViewLoader.jsx
Due: node_modules/.bin/eslint --fix

Tiny fix
  src/core/auth/withAuth.jsx
  src/core/error/withErrorHandler.js
Due: node_modules/.bin/eslint --fix

Add redirection for already authenticated users.
  src/core/auth/isTokenExpired.js
  src/core/auth/withAuth.jsx
  src/module/auth/common/component/Redirect/index.jsx
  src/module/auth/common/component/Redirect/withRedirect.jsx
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Fix login process.
  src/core/auth/isTokenExpired.js
  src/core/auth/saveTokens.js
  src/core/auth/withAuth.jsx
  src/core/db/createConnection.js
  src/core/db/tokens.js
  src/module/auth/common/component/Redirect/withRedirect.jsx
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/Model.js
Due: node_modules/.bin/eslint --fix

Add Viewer draft
  src/common/component/Viewer/Model.js
  src/common/component/Viewer/viewer.gql
  src/common/component/Viewer/withViewer.jsx
  src/module/user/Profile/user.gql
Due: node_modules/.bin/eslint --fix

Add Profile draft
  build/config/index.js
  src/core/model/connect.jsx
  src/module/user/Profile/user.gql
  src/module/user/page/Profile/Profile.jsx
  src/module/user/page/Profile/index.jsx
  src/module/user/page/Profile/user.gql
  src/route/user.json
Due: node_modules/.bin/eslint --fix

Improve application container styles.
  src/common/style/main.sss
  src/core/container/Application/application.sss
Due: node_modules/.bin/stylelint --fix

Move: src/common/style/main.sss -> src/core/base/main.sss
  src/core/base/main.jsx
  src/core/base/main.sss
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Tiny improvement for auth forms
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Signup/Model.js
  src/module/auth/page/Signup/Signup.jsx
Due: node_modules/.bin/eslint --fix

Some architecture improvements. Add ApplicationError draft.
  src/core/container/Application/Application.jsx
  src/core/container/ApplicationError.jsx
  src/core/container/Router/Router.jsx
  src/core/container/Router/index.jsx
  src/core/page/error/Application/ApplicationError.jsx
  src/core/page/error/Application/application-error.sss
  src/core/page/error/Application/application-error.svg
  src/core/page/error/Application/index.jsx
  src/core/page/error/Http/NotFound/NotFound.jsx
  src/core/page/error/Http/NotFound/index.jsx
  src/core/page/error/Http/NotFound/not-found.sss
  src/core/page/error/Http/NotFound/not-found.svg
  src/core/routes/Routes.jsx
  src/core/routes/ViewLoader.jsx
  src/core/routes/createRoutes.js
  src/core/routes/index.js
  src/core/routes/withAsyncRoute.jsx
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Add SVGO loader.
  build/config/loader/4-svg.js
  build/config/plugin/babili.js
  package.json
  src/module/user/page/Profile/Profile.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix

Architecture improvements. Add react-loadable component.
  build/config/index.js
  build/config/plugin/common.js
  package.json
  src/common/component/Loading/Page/PageLoader.jsx
  src/common/component/Loading/Page/index.jsx
  src/common/component/Loading/Page/page-loader.sss
  src/core/auth/withAuth.jsx
  src/core/base/Application/Application.jsx
  src/core/base/Application/application.sss
  src/core/base/Application/index.jsx
  src/core/base/main.jsx
  src/core/base/main.sss
  src/core/db/index.js
  src/core/helper/decorator/requireComponent.js
  src/core/page/error/Application/index.jsx
  src/core/page/error/Http/NotFound/index.jsx
  src/core/routes/ViewLoader.jsx
  src/core/routes/createRoutes.js
  static/assets/img/logo/logo-gray.png
  static/assets/manifest.json
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix

Improve preventDefault decorator.
  src/core/helper/decorator/preventDefault.js
Due: node_modules/.bin/eslint --fix

Tiny fix.
  src/module/auth/common/component/Redirect/withRedirect.jsx
Due: node_modules/.bin/eslint --fix

Remove schema exports from any model.
  src/common/component/Fragment/Fragment.jsx
  src/common/model/store/misc/CommonDates.js
  src/common/model/store/user/User.js
  src/common/model/store/user/UserContacts.js
  src/common/model/store/user/UserDates.js
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Signup/Model.js
Due: node_modules/.bin/eslint --fix

Last fixes before trying migrate to webpack 4
  package.json
  src/core/base/main.sss
  src/core/error/withErrorHandler.js
  src/core/transport/graphql/authContext.js
  src/core/transport/graphql/client.js
  src/module/auth/common/component/Form/Input/Input.jsx
  src/module/auth/common/component/Form/Input/input.sss
  src/module/auth/page/Login/Login.jsx
  src/module/auth/page/Login/Model.js
  src/module/auth/page/Signup/Model.js
  src/module/auth/page/Signup/Signup.jsx
  yarn.lock
Due: node_modules/.bin/eslint --fix, node_modules/.bin/stylelint --fix
